a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-items: center;
}

.display-flex{
    display: flex;
}

.flex-center{
    align-items: center;
}