$font-family: 'Ubuntu', sans-serif;
$nav-text: rgb(157,150,145);
$nav-text-light: rgb(192,182,176);
$bg-header: rgb(245,227,215);
$yellow-text: rgb(243,205,145);
$white-text: white;
$line-yellow: rgb(239,161,75);